.el-table.r-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto; /* 添加水平滚动条 */
}

.el-table.r-table .el-table__header-wrapper,
.el-table.r-table .el-table__body-wrapper {
    display: table;
    width: 100%;
}

.el-table.r-table .el-table__header-wrapper {
    overflow: hidden; /* 防止表头内容溢出 */
}

.el-table.r-table .el-table__body-wrapper {
    overflow-x: auto; /* 添加水平滚动条 */
    overflow-y: hidden; /* 防止垂直滚动 */
    width: 100%;
}

.el-table.r-table .cell {
    display: inline-block;
    white-space: nowrap; /* 防止单元格内容换行 */
    overflow: hidden; /* 隐藏超出的内容 */
}
